@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Flicker.Models.Image>

<h2>Here is your list of images, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listImage in Model)
        {
            <li>@Html.DisplayFor(modelImage => listImage.Description) | @Html.ActionLink("Details", "Details", new { id = listImage.ImageId }) | @Html.ActionLink("Edit", "Edit", new { id = listImage.ImageId }) | @Html.ActionLink("Delete", "Delete", new { id = listImage.ImageId }) </li>
        }
    </ul>
}
else
{
    <p>No images have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")